/* General styles */

.linkedIn-body{
  background-color: #F3F2EF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  padding: 0;
}
/* NAvBar styles */
#responsive-navbar-nav {

 
  height: 30px;
  
 
}
#responsive-navbar-nav .bi{
  font-size: 18px;
  text-align: center;
}
.search-class{
  font-size: 12px !important;
}
#responsive-navbar-nav p{
  font-size: 10px;
 
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle::after {
  border: none!important;
 
 
}
.nav-network{
  text-align: center;
}
.nav-network p{
  font-size: 10px;
 
}
.nav-network span{
  font-size: 8px;
  position: relative;
  top: -7px;
  left: -17px;
 
}
.nav-line{
  border-left: 1px solid rgb(63, 63, 63);
  height: 100px;
 
}
.footer li{
  font-size: 12px;
  line-height: 1.7;
}